[submodule "sbi"]
	path = sbi
	url = ssh://github.utk.edu/smarz1/cosc562_sbi.git
[submodule "user"]
	path = user
	url = ssh://github.utk.edu/smarz1/cosc562_user.git
[submodule "util"]
	path = util
	url = ssh://github.utk.edu/smarz1/cosc562_util.git
[submodule "os-userspace"]
	path = os-userspace
	url = git@github.com:tokey-tahmid/os-userspace.git
